 .u-section-1 {
  min-height: 493px;
}

.u-section-1 .u-image-1 {
  filter: brightness(0.45);
}

.u-section-1 .u-text-1 {
  font-size: 6rem;
  font-weight: 700;
  text-shadow: -2px -2px 8px rgba(128,128,128,1);
  font-style: italic;
  text-decoration: underline !important;
  margin: 20px calc(((100% - 1140px) / 2) + 11px) 60px calc(((100% - 1140px) / 2) + 788px);
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
    width: auto;
    margin-right: calc(((100% - 940px) / 2) + 12px);
    margin-left: calc(((100% - 940px) / 2) + 712px);
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-right: calc(((100% - 720px) / 2) + 15px);
    margin-left: calc(((100% - 720px) / 2) + 480px);
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-right: calc(((100% - 540px) / 2) + 12px);
    margin-left: calc(((100% - 540px) / 2) + 295px);
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 344px;
  }

  .u-section-1 .u-image-1 {
    object-position: 48.93% 50%;
  }

  .u-section-1 .u-text-1 {
    margin-right: calc(((100% - 340px) / 2) + 11px);
    margin-left: calc(((100% - 340px) / 2) + 117px);
  }
} .u-section-2 {
  background-image: linear-gradient(#f9e79b, #e5e5e5);
}

.u-section-2 .u-sheet-1 {
  min-height: 500px;
}

.u-section-2 .u-tabs-1 {
  min-height: 303px;
  margin-top: 21px;
  margin-bottom: 30px;
}

.u-section-2 .u-tab-link-1 {
  font-size: 1.125rem;
  background-image: none;
  font-weight: 700;
  font-style: italic;
  text-decoration: underline !important;
  padding: 10px 25px;
}

.u-section-2 .u-tab-link-2 {
  font-size: 1.125rem;
  background-image: none;
  font-weight: 700;
  font-style: italic;
  text-decoration: underline !important;
  padding: 10px 25px;
}

.u-section-2 .u-tab-link-3 {
  font-size: 1.125rem;
  background-image: none;
  font-weight: 700;
  font-style: italic;
  text-decoration: underline !important;
  padding: 10px 25px;
}

.u-section-2 .u-tab-item-4 {
  margin-bottom: 0;
}

.u-section-2 .u-tab-link-4 {
  font-size: 1.125rem;
  background-image: none;
  font-weight: 700;
  font-style: italic;
  text-decoration: underline !important;
  padding: 10px 25px;
}

.u-section-2 .u-tab-item-5 {
  margin-bottom: 0;
}

.u-section-2 .u-tab-link-5 {
  font-size: 1.125rem;
  background-image: none;
  font-weight: 700;
  font-style: italic;
  text-decoration: underline !important;
  padding: 10px 25px;
}

.u-section-2 .u-tab-pane-1 {
  background-image: none;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-tab-pane-2 {
  background-image: none;
}

.u-section-2 .u-container-layout-2 {
  padding: 8px 0 0;
}

.u-section-2 .u-list-1 {
  width: 1120px;
  margin: 0 auto;
}

.u-section-2 .u-repeater-1 {
  grid-gap: 10px 10px;
  grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
  min-height: 247px;
}

.u-section-2 .u-container-layout-3 {
  padding: 0;
}

.u-section-2 .u-image-1 {
  height: 198px;
  width: 150px;
  margin: 0px auto 0 0px;
}

.u-section-2 .u-text-1 {
  font-size: 0.875rem;
  font-weight: 700;
  margin: -198px 0 0 166px;
}

.u-section-2 .u-text-2 {
  font-size: 1rem;
  margin: 21px 0 0 166px;
}

.u-section-2 .u-metadata-1 {
  font-size: 1rem;
  font-weight: normal;
  margin: 28px 89px 0 auto;
}

.u-section-2 .u-container-layout-4 {
  padding: 0;
}

.u-section-2 .u-image-2 {
  height: 198px;
  width: 150px;
  margin: 21px auto 0 11px;
}

.u-section-2 .u-text-3 {
  font-size: 0.875rem;
  font-weight: 700;
  margin: -198px 0 0 166px;
}

.u-section-2 .u-text-4 {
  font-size: 1rem;
  margin: 21px 0 0 166px;
}

.u-section-2 .u-metadata-2 {
  font-size: 1rem;
  font-weight: normal;
  margin: 28px 89px 0 auto;
}

.u-section-2 .u-container-layout-5 {
  padding: 0;
}

.u-section-2 .u-image-3 {
  height: 198px;
  width: 150px;
  margin: 21px auto 0 11px;
}

.u-section-2 .u-text-5 {
  font-size: 0.875rem;
  font-weight: 700;
  margin: -198px 0 0 166px;
}

.u-section-2 .u-text-6 {
  font-size: 1rem;
  margin: 21px 0 0 166px;
}

.u-section-2 .u-metadata-3 {
  font-size: 1rem;
  font-weight: normal;
  margin: 28px 89px 0 auto;
}

.u-section-2 .u-tab-pane-3 {
  background-image: none;
}

.u-section-2 .u-container-layout-6 {
  padding: 30px;
}

.u-section-2 .u-tab-pane-4 {
  background-image: none;
}

.u-section-2 .u-container-layout-7 {
  padding: 30px;
}

.u-section-2 .u-tab-pane-5 {
  background-image: none;
}

.u-section-2 .u-container-layout-8 {
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-tabs-1 {
    height: auto;
  }

  .u-section-2 .u-list-1 {
    width: 940px;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 309px;
  }

  .u-section-2 .u-image-1 {
    height: 248px;
    margin-top: 20px;
    margin-left: 18px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: -248px;
    margin-left: 182px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-top: 14px;
    margin-left: 182px;
  }

  .u-section-2 .u-metadata-1 {
    width: auto;
    margin-top: 42px;
    margin-right: 0;
  }

  .u-section-2 .u-image-2 {
    height: 248px;
    margin-top: 20px;
    margin-left: 18px;
  }

  .u-section-2 .u-text-3 {
    width: auto;
    margin-top: -248px;
    margin-left: 182px;
  }

  .u-section-2 .u-text-4 {
    width: auto;
    margin-top: 14px;
    margin-left: 182px;
  }

  .u-section-2 .u-metadata-2 {
    width: auto;
    margin-top: 42px;
    margin-right: 0;
  }

  .u-section-2 .u-image-3 {
    height: 248px;
    margin-top: 20px;
    margin-left: 18px;
  }

  .u-section-2 .u-text-5 {
    width: auto;
    margin-top: -248px;
    margin-left: 182px;
  }

  .u-section-2 .u-text-6 {
    width: auto;
    margin-top: 14px;
    margin-left: 182px;
  }

  .u-section-2 .u-metadata-3 {
    width: auto;
    margin-top: 42px;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-list-1 {
    width: 720px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: calc(50% - 5px) calc(50% - 5px);
    min-height: 710px;
  }

  .u-section-2 .u-image-1 {
    height: 301px;
    margin-top: 21px;
    margin-left: 14px;
  }

  .u-section-2 .u-text-1 {
    margin-top: -301px;
    margin-left: 178px;
  }

  .u-section-2 .u-text-2 {
    margin-top: 21px;
    margin-left: 178px;
  }

  .u-section-2 .u-metadata-1 {
    margin-top: 121px;
    margin-right: 52px;
  }

  .u-section-2 .u-image-2 {
    height: 301px;
    margin-top: 21px;
    margin-left: 14px;
  }

  .u-section-2 .u-text-3 {
    margin-top: -301px;
    margin-left: 178px;
  }

  .u-section-2 .u-text-4 {
    margin-top: 21px;
    margin-left: 178px;
  }

  .u-section-2 .u-metadata-2 {
    margin-top: 121px;
    margin-right: 52px;
  }

  .u-section-2 .u-image-3 {
    height: 301px;
    margin-top: 21px;
    margin-left: 14px;
  }

  .u-section-2 .u-text-5 {
    margin-top: -301px;
    margin-left: 178px;
  }

  .u-section-2 .u-text-6 {
    margin-top: 21px;
    margin-left: 178px;
  }

  .u-section-2 .u-metadata-3 {
    margin-top: 121px;
    margin-right: 52px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-tab-link-1 {
    font-size: 0.75rem;
  }

  .u-section-2 .u-tab-link-2 {
    font-size: 0.75rem;
  }

  .u-section-2 .u-tab-link-3 {
    font-size: 0.75rem;
  }

  .u-section-2 .u-tab-link-4 {
    font-size: 0.75rem;
  }

  .u-section-2 .u-tab-link-5 {
    font-size: 0.75rem;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 25px;
    padding-right: 25px;
  }

  .u-section-2 .u-list-1 {
    width: 540px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-2 .u-image-1 {
    height: 209px;
    margin-top: 20px;
    margin-left: 8px;
  }

  .u-section-2 .u-text-1 {
    font-size: 0.875rem;
    margin-top: -209px;
  }

  .u-section-2 .u-text-2 {
    font-size: 0.875rem;
    margin-top: 30px;
  }

  .u-section-2 .u-metadata-1 {
    font-size: 0.875rem;
    font-weight: 700;
    margin-top: 118px;
    margin-right: auto;
    margin-left: 178px;
  }

  .u-section-2 .u-image-2 {
    height: 209px;
    margin-top: 20px;
    margin-left: 8px;
  }

  .u-section-2 .u-text-3 {
    font-size: 0.875rem;
    margin-top: -209px;
  }

  .u-section-2 .u-text-4 {
    font-size: 0.875rem;
    margin-top: 30px;
  }

  .u-section-2 .u-metadata-2 {
    font-size: 0.875rem;
    font-weight: 700;
    margin-top: 118px;
    margin-right: auto;
    margin-left: 178px;
  }

  .u-section-2 .u-image-3 {
    height: 209px;
    margin-top: 20px;
    margin-left: 8px;
  }

  .u-section-2 .u-text-5 {
    font-size: 0.875rem;
    margin-top: -209px;
  }

  .u-section-2 .u-text-6 {
    font-size: 0.875rem;
    margin-top: 30px;
  }

  .u-section-2 .u-metadata-3 {
    font-size: 0.875rem;
    font-weight: 700;
    margin-top: 118px;
    margin-right: auto;
    margin-left: 178px;
  }

  .u-section-2 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-list-1 {
    width: 340px;
  }

  .u-section-2 .u-image-1 {
    height: 200px;
    width: 190px;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 0px;
    margin-left: 0;
  }

  .u-section-2 .u-text-2 {
    margin-top: 0px;
    margin-left: 0;
  }

  .u-section-2 .u-metadata-1 {
    margin-top: 20px;
    margin-left: 0;
  }

  .u-section-2 .u-image-2 {
    height: 200px;
    width: 190px;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
  }

  .u-section-2 .u-text-3 {
    margin-top: 0px;
    margin-left: 0;
  }

  .u-section-2 .u-text-4 {
    margin-top: 0px;
    margin-left: 0;
  }

  .u-section-2 .u-metadata-2 {
    margin-top: 20px;
    margin-left: 0;
  }

  .u-section-2 .u-image-3 {
    height: 200px;
    width: 190px;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
  }

  .u-section-2 .u-text-5 {
    margin-top: 0px;
    margin-left: 0;
  }

  .u-section-2 .u-text-6 {
    margin-top: 0px;
    margin-left: 0;
  }

  .u-section-2 .u-metadata-3 {
    margin-top: 20px;
    margin-left: 0;
  }
}